body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding-left: 325px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: absolute;
}

#navigator {
    background-color: #ccc;
    padding: 10px;
    text-align: center;
}

#navigator li {
    margin-right: 20px;
}
#navigator a {
    color: #050404;
    text-decoration: none;
}
#navigator a:hover {
    color: #ffffff;
}

.Uni {
    background-color: #fff;
    padding: 20px;
    width: 800px;
    text-align: center;
}

.Uni h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.Uni img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.Uni p {
    margin: 5px 0;
}

.Uni ul {
    list-style: none;
    padding: 0;
}

.Uni ul li {
    background-color: #e0e0e0;
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
}

.schedule table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.schedule th, .schedule td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

.schedule th {
    background-color: #ddd;
}
